{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<title>{{ message }}</title>
{% endblock %}

{% block content %}

	<div style='background: rgb(212, 228, 212);width: 645px;height:500px;margin-left: 225px; border:1px solid #550500;'>
		<div style='background: rgb(178, 192, 178);width: 636px;height:29px;margin-left:4px;'><center><p style='font-size:20px;'>Add Property Form</p></center></div>
	 <form role="form">
			<div style='width:500px;height:400px;'>
  				<div class="form-group">
    				<label for="title" style='margin-left:111px;'>Title : </label>
    				<input type="text" class="form-control form-dac" style='margin-left:50px;width:151px;' id="title">
  				</div>
  		    		<button type="submit" class="btn btn-default" style='margin-left:238px;margin-top:31px;'>Submit</button>
			</div>		
	 </form>
	</div>

{% endblock %}
