{% extends "base.html" %}
{% load staticfiles %}

{% block head %}
<title>{{ message }}</title>
{% endblock %}

{% block headerimage %}
  <div class="headerimage">
    <div class="headeriamge1">
      <div class="house"></div>
    </div>
    <div class="headerimage2">
      <div class="buying"><a href="/buying/"> <img src="/static/images/buyin.png" border="0" /></a> </div>
      <div class="selling"><a href="/selling/"> <img src="/static/images/selling.png" border="0" /></a> </div>
    </div>
  </div>
{% endblock %}

{% block content %}
   


    <div class="innercontent">
      <div class="leftpannel">
        <div class="find">
          <div class="leftpan1"></div>
          <div class="leftpan2">
            <div class="leftmenu">
              <ul>
                <li><a href="/homeforsale/">Home for sale</a></li>
                <li><a href="/fore/">Fore closures</a></li>
                <li><a href="/lotsandland/">Lots and Land</a></li>
                <li><a href="/agent/">Agents and Brokers</a></li>
                <li><a href="/mortages/">Mortages</a></li>
                <li><a href="/freehomeplans/">Free home plans</a></li>
              </ul>
            </div>
          </div>
        </div>
        <div class="search">
          <div class="search1"></div>
          <div class="go">
            <div>
              <input type="text" />
            </div>
            <div class="go1"><a onclick="/go/"><img src="/static/images/go.gif" border="0" /></a></div>
          </div>
        </div>
        <div>
          <div style="width:190px; height:31px; background:url(/static/images/find.gif) repeat-x;"></div>
          <div style="background-color:#fffbf0; padding-top:15px; height:auto"><img src="/static/images/add.jpg" width="181" height="81" /></div>
        </div>
      </div>
      <div class="rightpannel">
        <div class="welcome">
          <div style="width:760px; height:auto;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3f3f3f; line-height:20px; text-align:left">Open Estates is a real estate niche for property sellers and buyer. We offer a huge variety of features related to read estates. Real estate is "property consisting of land and the buildings on it, along with its natural resources such as crops, minerals or water; immovable property of this nature; an interest vested in this (also) an item of real property; (more generally) buildings or housing in general. Also: the business of real estate; the profession of buying, selling, or renting land, buildings or housing." It is a legal term used in jurisdictions such as the United States, United Kingdom, Canada, India, Pakistan, Australia, and New Zealand.</div>
        </div>
        <div class="featured">&nbsp;</div>
        <div class="featured1">
          <div class="featuredinner">
            <div class="fealeft"><a href="/feature/"><img src="/static/images/home.png" /></a></div>
            <div class="fearight"><span style="width:780px; height:auto;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3f3f3f; line-height:20px; text-align:left">Key requisites for a buyer is knowing the size and proportions of the property, the condition, and understanding the different features and benefits the property has to offer. With this in mind, the written description of the property is key, as it can answer a number of questions that can't be answered in a floor plan or photo. Traditional estate agents usually insist on writing the property description themselves, often not engaging the one person who knows the property inside out - the owner. At sellmyhome.co.uk, we prefer the owner to write this description themselves </span></div>
          </div>
        </div>
        <div class="featured1">
          <div class="featuredinner">
            <div class="fealeft"><a href="/feature/"><img src="/static/images/house2.png" width="108" height="76" /></a></div>
            <div class="fearight"><span style="width:780px; height:auto;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3f3f3f; line-height:20px; text-align:left"> Remember, you only have a short window of opportunity to grab a buyer’s attention - especially on the internet where people can simply click away. Ensure the first few sentences summarise the property in a nutshell, as this is the bit that buyers are most likely to read. So stick to explaining the location, the decor, the size and some key selling points in these initial sentences.  </span></div>
          </div>
        </div>
        <div class="featured1">
          <div class="featuredinner">
            <div class="fealeft"><a href="/feature/"><img src="/static/images/house3.png" width="108" height="76" /></a></div>
            <div class="fearight"><span style="width:780px; height:auto;font-family:Arial, Helvetica, sans-serif; font-size:12px; color:#3f3f3f; line-height:20px; text-align:left">All the formatting for the section that precedes it, including margins, number of columns, line numbers, page size and orientation, and headers and footers All the formatting for the section that precedes it.All the formatting for the section that precedes it, including margins, number of columns, line numbers, page size and orientation, and headers and footers All the formatting for the section that precedes</span></div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
