{% load staticfiles %}

<html>
<head>	
	<title>RealEstate</title>
	
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
 <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" type="text/css" href={% static "css/style1.css" %}/>

</head>
<body style='background-color:#FFFFFF;'>
        <div class="modal" style="display:block;width: 567px;height: 334px;background:#29D83E;margin: 200px 350px;border-radius: 28px; border: 2px solid;" id="myModal">
           <div class="modal-header">
            	<button type="button" class="close" data-dismiss="modal">x</button>
            	<h3>Login to RealEstate.com</h3>
          </div>
          <div class="modal-body" style='height: 213px;'>
            <form method="post" action='login' name="login_form">
              <p><label for='user' style='margin-left:139px;'>   Username : </label><input type="text" class="span3" name="user" placeholder="User"></p>
              <p><label for ='passwd' style='margin-left:140px;'>Password : </label><input type="password" class="span3" name="passwd" placeholder="Password"></p>
              <p style='margin-top:23px; margin-left:179px;'><button type="submit" class="btn btn-primary" style='margin-left:63px;'>Sign in</button></br></br>
                <a style='margin-left:48px;' href="#">Forgot Password?</a>
              </p>
            </form>
          </div>
          <div class="modal-footer">
        
          </div>
        </div>
	</body>
</html>


